<div [@routerTransition]>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h1>Price Management</h1>
        </div>
      </div>
    </div>
  </section>
  <section class="content px-2">
    <div class="container-fluid">
      <div class="card">
        <div class="card-body">
          <iframe title="quản lý tình trạng sử dụng đất" width="1600" height="810.25" src="https://app.powerbi.com/reportEmbed?reportId=27bf6b49-cb8d-42f4-9299-d1342e4eb38f&autoAuth=true&ctid=89a7f078-234b-46ee-a96e-0b8e8b347cbe" frameborder="0" allowFullScreen="true"></iframe>
        </div>
      </div>
    </div>
  </section>
</div>
