@import "~leaflet/dist/leaflet.css";
.map-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 150px;
	  margin-left: 270px;
  }
  
  .map-frame {
    border: 1px solid black;
    height: 50%;
	  width: 98%;
  }
  
  #map {
    height: 100%;
  }

  