<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-6 order-md-2">
        <img src="./assets/img/gis-login1.svg" alt="Image" class="img-fluid" height="2000" width="2000" style="margin-top: 100px;">
      </div>
      <div class="col-md-6 contents">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="mb-4">
              <h3>Sign In to <strong>mGIS MobiFone</strong></h3>
              <p class="mb-4">Empower the world to have cleaner water.</p>
            </div>
            <login-board></login-board>
          </div>
        </div>
        <account-footer></account-footer>
      </div>
    </div>
  </div>
</div>

<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>